@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');

body {
	font: 12pt/22pt "Quicksand", Helvetica, Arial, sans-serif;
}

h1,h2,h3 {
	background-color: #999;
	color: #eee;
}

h4,h5,h6 {
	color: #333;
}

h1,h2,h3,h4,h5,h6 {
	padding: 10px 20px;
	font-weight: bold;
	margin: 10px -40px;
	background-overflow: visible;
}

h1,h2,h3,h4,h5,h6:first-of-type {
	margin-top: 0;
}

h1,h2 {
	border-bottom: 5px solid #ccc;
	padding: 40px 20px;
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
	background-color: #777;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1.1em;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
	color: rgb(211, 77, 127);
}

code {
	border: 1px solid #ddd;
	padding: 1px 10px;
	background-color: hsl(229, 52%, 97%);
}

pre {
	margin: 10px 20px;
}

pre code {
	display: inline-block;
	max-width: 95%;
	padding: 3px 10px;
	background-color: hsl(139, 80%, 97%);
	overflow: auto;
	border:none;
}

pre, code {
	font: 14pt/20pt "Courier New", Courier, monospace;
}

p {
	display: block;
	margin-bottom: 10px;
}

/*unordered lists*/

ul {
	list-style-type: circle;
}

ul > li {
	list-style-type: circle;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
}

ul > li::first-line {
	font-size: 1.5em;
}

ul > li > ul > li, ul > li > ul > li::first-line {
	font-size: 1em;
	border-style: none;
	margin-bottom: 10px;
}

/*ordered lists*/

ol {
	counter-reset: olCounter;
}

ol > li {
	counter-increment: olCounter;
	display: block;
	margin-bottom: 10px;
	margin-left: 40px;
	margin-right: 40px;
}

ol > li::before {
	content: counter(olCounter) ". ";
	color: rgb(211, 77, 127);
	font-weight: bold;
}


/*links*/

a:link {
	color: rgb(211, 77, 127);
	text-decoration: underline;
}

a:visited {
	color: #780F39;
	text-decoration: underline;
}

a:hover {
	color: #EF7DAB;
	text-decoration: underline;
}

a:active {
	color: #B77DAB;
	text-decoration: underline;
}

/*dividers*/

hr {
	margin: 40px 40px;
	border: none;
	border-bottom: 5px solid #ccc;
}


#content {
	margin: 0px 40px;
}
